 
<div class="autentificare">
	<h3>Creare cont </h3>
	<form action="/adaugare_credentiale_utilizator" method="POST" class="formular_autentificare">

		<label>Utilizator</label>
		<input type="text" id="utilizator" name="utilizator" value="">
		<br>
		<label>Parola</label>
		<input type="password" id="parola" name="parola" value="">
		<br>
		<button class="button_autentificare">Creare cont</button>
	</form>

</div>